RewriteEngine On
RewriteBase /sia/
RewriteRule ^home$ ?act=home
RewriteRule ^siswa$ ?act=siswa
RewriteRule ^siswa-(.*)-(.*)-edit$ ?act=siswa&proses=edit&id=$1
RewriteRule ^siswa-(.*)-(.*)-hapus$ ?act=siswa&proses=hapus&id=$1
RewriteRule ^guru$ ?act=guru
RewriteRule ^guru-(.*)-(.*)-edit$ ?act=guru&proses=edit&id=$1
RewriteRule ^guru-(.*)-(.*)-hapus$ ?act=guru&proses=hapus&id=$1

RewriteRule ^cari$ ?act=cari
RewriteRule ^cari-order-(.*)-(.*)$ ?act=cari&order=$1&sort=$2
RewriteRule ^logout$ ?act=logout

ErrorDocument 404 /sia/pagenotfound.php
